<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫平台首页(老版）</title>
</head>
<body>
  <style>
    #loading {
      width: 50px;
      height: 50px;
      border: 5px solid #eee;
      border-left-color: #e27a61;
      border-radius: 50%;
      animation: loading-animate 1s linear infinite;
    }
    @keyframes loading-animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .center-in-center{
            position: absolute;
            top: 50%;
            left: 50%;
        }

  </style>
      <div id="test" style="display:none"  class="center-in-center">

        <div id="loading">
        </div>
          爬取中,请耐心等待.......
      </div>
    <center id="all">
    <h1>欢迎使用爬虫采集器</h1>
    <form action="/platform1/result_index" method="get">
    <input type="text" id="url" name="url" placeholder="请输入需要采集的网址"> *
    <input type="text" name="number"  placeholder="输入抓取的页数" onkeyup = "value=value.replace(/[^\d]/g,'')">*
    <input type="submit" value="提交" onclick="document.getElementById('test').style.display='';document.getElementById('all').style.display='none';">

    </form>
    </center>
</body>
</html>