<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析展示页面</title>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=webkit">
	<style type="text/css">
		.table{background-color: transparent;border-collapse: collapse;border-spacing: 0;border: 1px solid #ddd;}
		.tableStyles{font-size: 12px;margin-bottom: 10px;}
		.tableStyles>thead{background-color: #f4f4f4;}
		.tableStyles>thead>tr>td,.table-bordered>thead>tr>th{border-bottom-width: 1px;}
		.tableStyles>thead>tr>th,.tableStyles>tbody>tr>td{padding: 5px;line-height: normal;text-align: center;vertical-align: middle;color: #999;box-sizing: border-box;border: 1px solid #e6e6e6;}
		.tableStyles>tbody>tr{height: 68px;}
		.tableStyles>tbody>tr>td{color: #333;}
		.tableStyles>tbody>tr:hover{background-color: rgba(227,233,239,.5); }
		.tableStyles>tbody>tr>td:hover{background: #6AACF1;color: #fff!important; font-size: 12px; box-sizing: border-box; border: none;padding: 0;cursor: pointer;}
		.tableStyles>tbody>tr>td:hover .color11,.tableStyles>tbody>tr>td:hover .color21{color: #fff;}
	</style>
</head>
<body>
    <h3>数据展示</h3>
<!--	<p>1.只在谷歌/火狐下起作用，保留单元格合并的效果,下载之后的命名是:xxx.xls</p>-->
	<a id="dlink"  style="display:none;"></a>
	<input type="button" onclick="tableToExcel('tables', 'name', 'myfile.xls')" value="导出以下数据(excel)">

<table class="table tableStyles" id="tables">
    <caption>药品名：{{name}}</caption><!--可以生成表格的标题-->
    <caption>爬取时间：{{time}}</caption>

    <tbody>

<!--    <thead>-->
<!--        <tr>-->
<!--            <th>医药网站</th>-->
<!--            {% for m1,n1 in data1.items %}-->
<!--            <th>{{m1}}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--    </thead>-->

    <tr>
        <th>合纵</th>
        <td>
            {% for m1,n1 in data1.items %}
<!--            django标签：执行循环取对应的key，value值对应endif结束-->
                <tr>
                    <td>{{m1}}</td>
<!--                    取原价，特价，厂家，规格，效期等字段-->
                    {% if n1.items == None %}
<!--                        <td>{{n1}}</td>-->
                    {% else %}
                        {% for k1,j1 in n1.items %}
                            <td>{{j1}}</td>
<!--                            取m对应的value值-->
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </td>
    </tr>

    <td></td><tr></tr><td></td>
    <tr>
        <th>龙一</th>
        <td>
            {% for m2,n2 in data2.items %}
                <tr>
                    <td>{{m2}}</td>
                    {% if n2.items == None %}
                        <td>{{n2}}</td>
                    {% else %}
                        {% for k2,j2 in n2.items %}
                            <td>{{j2}}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
        </td>
    </tr>

    <td></td><tr></tr><td></td>
    <tr>
        <th>蓉锦</th>
            {% for m3,n3 in data3.items %}
                <tr>
                    <td>{{m3}}</td>
                    {% if n3.items == None %}
                        <td>{{n3}}</td>
                    {% else %}
                        {% for k3,j3 in n3.items %}
                            <td>{{j3}}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
    </tr>

    <td></td><tr></tr><td></td>
    <tr>
        <th>华鼎</th>
            {% for m4,n4 in data4.items %}
            <tr>
                <td>{{m4}}</td>
                {% if n4.items == None %}
                    <td>{{n4}}</td>
                {% else %}
                    {% for k4,j4 in n4.items %}
                        <td>{{j4}}</td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </tr>

    <td></td><tr></tr><td></td>
    <tr>
        <th>聚创</th>
            {% for m5,n5 in data5.items %}
                <tr>
                    <td>{{m5}}</td>
                    {% if n5.items == None %}
                        <td>{{n5}}</td>
                    {% else %}
                        {% for k5, j5 in n5.items %}
                            <td>{{j5}}</td>
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endfor %}
    </tr>

    <td></td><tr></tr><td></td>
    <tr>
        <th>粤通</th>
            {% for m6,n6 in data6.items %}
            <tr>
                <td>{{m6}}</td>
                {% if n6.items == None %}
                    <td>{{n6}}</td>
                {% else %}
                    {% for k6, j6 in n6.items %}
                        <td>{{j6}}</td>
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
    </tr>

    </tbody>
</table>
<script type="text/javascript">
		var tableToExcel = (function () {
	        var uri = 'data:application/vnd.ms-excel;base64,',
	        	template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>',
	        	base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) },
	        	format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) };
	        return function (table, name, filename) {
	            if (!table.nodeType) table = document.getElementById(table)
	            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
	            document.getElementById("dlink").href = uri + base64(format(template, ctx));
	            document.getElementById("dlink").download = filename;
	            document.getElementById("dlink").click();
	        }
	    })()
	</script>
</body>
</html>