<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="http://baidu.com/s" method="get">-->
<!--    <div>-->
<!--         <label for="search">你想搜索什么?</label>-->
<!--         <input name="wd" id="search" value="花">-->
<!--    </div>-->
<!--    <div>-->
<!--         <button>立即搜索</button>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!--<html>-->
<!--<head>-->
<!--<script type="text/javascript">-->
<!--function myLinkFor() {-->
<!--var newURL = document.getElementById("targetURL").value;-->
<!--&lt;!&ndash;window.location.href = "http://" + newURL;&ndash;&gt;-->
<!--}-->
<!--</script>-->
<!--</head>-->
<!--<body>-->
<!--    <div>-->
<!--请输bai入du网址zhi:<input type="text" id="targetURL" /><input type="button" name="myBtn" value="确定dao" onclick="javascript:myLinkFor()" />-->
<!--    </div>-->
<!--    <div>-->
<!--         <label for="search">你想搜索什么?</label>-->
<!--         <input name="wd" id="search" value="花">-->
<!--    </div>-->
<!--    <div>-->
<!--         <button>立即搜索</button>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫平台首页</title>
</head>
<body>
    <center>
    <h1>欢迎使用爬虫采集器</h1>
    <form action="/result" method="get">
    <input type="text" name="url" placeholder="请输入需要采集的网址" required="required"> *
    <input type="text" name="number"  placeholder="输入抓取的页数" required="required"  onkeyup = "value=value.replace(/[^\d]/g,'')">*
    <input type="submit" value="提交">
</form>
        </center>


</body>
</html>